/*


1. Need a background image

2. A jumbotron containing game content

3. A Title <div>

4. Time Remaining:

5. Question

6. Answer



*/

body {
 
  background-image: url("../images/cartoonTheme.png");

}




.jumbotron {


  margin-top: 50px;
  height:900px;
  margin-right:50px;
  margin-left:50px;
  background-color: blue;


}

#main-Header {
  
  height:400px;
  background-color:yellow;
  font-family: 'Faster One', cursive;
  color:purple;



}




#time-Remaining {

  background-color:green;
  color:white;

}


#question {

  background-color:red;
  color:white;


}




#start-Game {

  background-color:pink;
}



#Button-Start {

  background-color: black;
  color:white;
  width:500px;
  height:50px;
  font-size:25px;
  border-color:red;

}



#Button-Start:hover {

  background-color: black;
  color:yellow;
  width:500px;
  height:50px;
  font-size:25px;
  border-color:green;
  border-width:6px;

}



#Button-Start-Over {

  background-color: black;
  color:white;
  width:500px;
  height:50px;
  font-size:25px;
  border-color:red;

}



#Button-Start-Over:hover {

  background-color: black;
  color:yellow;
  width:500px;
  height:50px;
  font-size:25px;
  border-color:green;
  border-width:6px;

}






#answer1 {

  background-color: purple;


}


#answer1:hover {

  background-color: red;


}






#answer2 {

  background-color: purple;


}



#answer2:hover {

  background-color: red;


}






#answer3 {

  background-color: purple;



}




#answer3:hover {

  background-color: red;


}




#answer4 {

  background-color: purple;


}


#answer4:hover {

  background-color: red;


}


