/*


1. Need a background image

2. A jumbotron containing game content

3. A Title <div>

4. Time Remaining:

5. Question

6. Answer



*/

body {

  background-image: 

}



.jumbotron {


  margin-top: 50px;
  height:900px;
  margin-right:50px;
  margin-left:50px;
  background-color: blue;


}

#main-Header {
  
  height:200px;
  background-color:yellow;


}



#time-Remaining {

  background-color:green;

}